/* MiwoEvents */
.miwoevents_box {
    margin-bottom: 20px;
	min-width: 260px;
}

.miwoevents_box_heading {
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #DBDEE1;
    background: url('../images/background.png') repeat-x;
    padding: 8px 10px 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #333;
}

.miwoevents_box_content {
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;
    padding: 10px;
    margin: 0px;
}








.miwoevents_box_h1 {
     border: 0 none !important;
     font-family: Arial,Helvetica,sans-serif !important;
     font-size: 14px !important;
     font-weight: bold !important;
     line-height: 14px !important;
     margin: 0 !important;
     padding: 0 !important;
     text-transform: none !important;
 }
 
.ecalex {
	border: 1pxred solid;
	float: right; 
	position: relative; 
	top: -18px;
 }

 .ecalex  a {
	text-decoration: none;
}

.miwoevents_box_h3 {
    margin: 0 !important;
    padding: 0 !important;
}

.miwoevents_box_h3 a:link {
    text-decoration: none !important;
}

.miwoevents_box_content_left {
    float: left;
    width: 63% !important; /* 61 */
}

.miwoevents_box_content_right {
    float: right;
    width: 38% !important;
}

.miwoevents_box_content_right_left {
	float: left;
	/*width: 10% !important;*/
}

.miwoevents_box_content_img {
    float: left !important;
    margin: 0px 10px 0 0;
    border: 1px solid #CCC;
}

.miwoevents_box_content_img_ev {
    float: left !important;
    margin: 5px 10px 0 0;
    border: 1px solid #CCC;
}

.miwoevents_box_content_cont {
    width: 99%;
  /*  border-bottom: 1px solid #E7E7E7;*/
    /*font-size: 15px;*/
    overflow: auto;
    margin-bottom: 10px;
    padding: 0 5px 15px;
}

.miwoevents_box_content_cont2 {
    width: 99%;
    /*font-size: 15px;*/
    overflow: auto;
    margin-bottom: 10px;
    padding: 15px 5px 10px;
}

[class*="span"] {
    float: left;
    min-height: 1px;
}

.miwoevents_span1 {
    width: 110px;
    margin-left: 0 !important;
}

.miwoevents_span2 {
    width: 150px;
    margin-left: 0 !important;
}

.miwoevents_box_content_40 {
    float: left;
    line-height: 25px;
    width: 40% !important;
    margin-left: 0 !important;
}

.miwoevents_box_content_60 {
    float: left;
    line-height: 25px;
    width: 60% !important;
    margin-left: 0 !important;
}

.miwoevents_box_content_100 {
    width: 98%;
    line-height: 25px;
}

.miwoevents_box_content_warning {
    text-align: justify;
    padding: 15px 5px 0 0;
    margin: 0;
	width: 100%;
	float: left;
}

.miwoevents_box_content_info {
    float: left;
    width: 260px;
}

.miwoevents_box_content_group {
    float: left;
    width: 98%;
    margin-top: 15px;
    line-height: 25px;
}

.miwoevents_box_content_map {
    float: left;
    width: 59%;
    padding-left: 10px;
    border-left: 1px dashed #E7E7E7;
    height: 300px;
}

.miwoevents_box_content_bottom {
     padding: 0 0 6px 0;
     margin: 0 0 6px 0;
 }

a.miwoevents_button {
    float: left !important;
    margin: 0.5em 5px 2px 0 !important;
    padding: 5px 15px !important;
    background: url(../images/button.png) #F8F8F8 bottom repeat-x !important;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}

a.miwoevents_button:link,
a.miwoevents_button:visited,
a.miwoevents_button:hover {
    text-decoration: none;
}

a.miwoevents_button:link,
a.miwoevents_button:visited {
    border: 1px solid #cecece;
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ---------- Reset styles ------------------------------------- */
img { border: 0 none; }

h1.miwoevents_title,
h2.miwoevents_title,
h3.miwoevents_title { width: auto !important; margin: 0 !important; padding: 0 !important; }

h2.search_result_header {
	margin-bottom: 8px ;
}

h1.location_header {
	font-weight: normal ;
	font-size: 12px;
}

/* Remove the following line if you have problems with the alignment of your theme */
.clr { clear: both; }


.miwoevents_props {
	width: 235px; /* 260px;*/
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	display:block;
	float: inherit;
}
.miwoevents_prop {
	float: left;
}

.miwoevents_props .miwoevents_label {
	width: 100px; /* 110 */
	min-height: 24px;
	display: block;
	overflow: hidden;
	float: left;
	font-weight: bold;
	position: relative;
}
.miwoevents_props .miwoevents_content {
	width: 130px; /* 155 */
	min-height: 24px;
	display: block;
	overflow: hidden;
	float: left;
	position: relative;
}

/* ---------- Global styles ------------------------------------ */

#miwoevents_header {
	height: 55px;
	border-bottom: 1px dotted #ddd;
	text-align: center;
}
#miwoevents_header div {
	float: left;
	padding: 3px;
	width: 30%;
}
#miwoevents_header a, #miwoevents_header span  {
	display: block;
	padding-bottom: 5px;
	text-decoration:none;
	text-align: center;
}

#miwoevents_pathway {
	font-size: 11px;
	text-align: left;
	background: #ddd;
	margin-bottom: 5px;
	padding: 3px 3px 3px 10px;
}

/*.miwoevents_row { background: #FFF url(../images/bg-gradient.png) repeat-x; }*/


/* ---------- Categories styles ------------------------------------- */

#miwoevents_cats 	{ text-align: left; }

#miwoevents_cats h2.miwoevents_title { margin: 14px 0 !important; }
#miwoevents_cats h3.miwoevents_title { margin: 0 0 7px 0 !important; }

#miwoevents_cats .miwoevents_row { padding: 15px; }

#miwoevents_cats .miwoevents_row img {
	float: left !important;
	margin: 0 10px 0 0 !important;
	padding: 0 !important;
}

/* ---------- Category styles --------------------------------------- */

.miwoevents_cat { padding: 10px 0; }
.miwoevents_cat h1.miwoevents_title { margin: 0 0 10px 0 !important; }

.miwoevents_cat img.miwoevents_thumb-left, .miwoevents_row img.miwoevents_thumb-left 	{ margin: 0 15px 0 0 !important; float: left !important; }
.miwoevents_cat img.miwoevents_thumb-right 	{ margin: 0 0 0 15px !important; float: right !important; }

/* ---------- Events styles -------------------------------------- */

#miwoevents_docs { text-align: left; }
#miwoevents_docs h2.miwoevents_title { margin: 14px 0 !important; }
#miwoevents_docs h3.miwoevents_title { 
	margin: 0 0 10px 0 !important; 
	padding: 15px 0 5px 0 !important;
	min-height: 30px !important;
	height: auto !important;
  	height: 30px;
}

#miwoevents_docs h3.miwoevents_title img { float: left !important; margin: 0 10px 0 0; }

#miwoevents_docs .miwoevents_row { padding: 0 15px 15px 15px; }

#miwoevents_docs .miwoevents_row .miwoevents_details {
	float: right;
	width: 200px;
	margin: 0 0 0 10px;
}

#miwoevents_docs .miwoevents_row .miwoevents_details div {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 3px 0;
	text-align: center;
	border: 1px dotted #E0E0E0;
	background: #F8F8F8;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#miwoevents_docs .miwoevents_row .miwoevents_details table {
	padding: 5px 0 0 0 !important;
	margin: 0 !important;
	border: 1px dotted #D0D0D0;
	width: 100%;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#miwoevents_docs .miwoevents_row .miwoevents_details td {
	padding: 0 0 5px 5px !important;
	margin: 0 !important;
}

#miwoevents_docs .miwoevents_row .miwoevents_description {
	padding: 0 5px 0 0; margin: 0;
}
/* ---------- Details styles ---------------------------------------- */
#miwoevents_details {
	clear:left;
	width: 100%;
	text-align: left;
	float: left;
	margin: 15px 15px 25px 0px;
}
#miwoevents_details img {
	margin: 10px 10px 10px 0px;
}
#miwoevents_details table {
	width: 100%;
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	border-collapse: collapse;
}
#miwoevents_details table caption {
	margin: auto;
	padding: 5px 0 5px 0;
	font-weight: bold;
}
#miwoevents_details table td {
	padding: 5px;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}
#miwoevents_details table thead 	{ background: url(../images/bg-header.png) #F8F8F8 bottom repeat-x; font-weight: bold; padding: 5px; }
#miwoevents_details table thead td 	{ text-align: left; }
#miwoevents_details table col#prop 	{ width: 25%; }

/* --- tabs --- */
/*dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}
dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 3px;
	background: #f0f0f0;
	color: #666;
}

dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #F9F9F9;
	z-index: 100;
	color: #000;
}*/

dl.tabs dt.tabs {
    background-color: #fff !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

.title_cell {
	font-weight: bold ;
	padding-left: 5px;
}

.field_cell {
	
}
.required {
	color: red ;
	padding-left: 5px;
}
.heading {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.info {
	color : #2C79B3 ;
	margin-top: 10px;
}

.price_col {
	width : 10%;
	text-align: right ;
}
.order_col {
	width : 13%;
	text-align: center ;
}
table.item_list {	
	margin-top: 10px;
}
table.doc_list {
	
}
.no_col {
	width: 5%;
}
.date_col {
	width: 20%;
}
.capacity_col {
	width: 8%;
}
.registered_col {
	width: 8% ;
}
/** PRODUCT LIST */
#miwoevents_docs h4  {
	font-size: 150%;
	padding: 0;
	margin: 0 0 15px 0;
}
#miwoevents_docs h4 a {
	font-weight: bold;
}
#miwoevents_docs dl {
	/*background: none repeat scroll 0 0 #ECF4FB;*/
	border: 1px solid #CCCCCC;
	padding: 5px 5px 5px 10px;
	margin: 0 5px 5px;
	float: right;
}
#miwoevents_docs dt,
#miwoevents_row dt {
	float: left;
	font-weight: bold;
}

#miwoevents_docs dt {
	width: 110px;
}

#miwoevents_row dt {
	width: 100px;
}

#miwoevents_docs dd,
#miwoevents_row dd {
	font-weight: normal;
}

#miwoevents_docs dd {
	margin-left: 90px;
}
#miwoevents_row dd {
	margin-left: 100px;
}
.miwoevents_price {
	color: #E43101 ; 
}

.bubble li {
	list-style-type: none;
	background-image: none;
	line-height: 18px;
	margin-left: 2px;
	font-size: 13px;
}

.bubble .location_name {
	font-weight: bold;
}

li.getdirection a {
	font-weight: bold;
}

div#detail_right {
	float: right ;
	width: 40%;
}
div#detail_left {
	float: left ;
	width: 58% ;
}
.miwoevents_no_column {
	text-align: center ;
}
.miwoevents_number_registrant_column {
	text-align: center ;
}
.miwoevents_rate_column {
	text-align: right;
}
/*Calendar view for css*/

.regpro_calendar { 
	background-color:#29363E;
    color:#000000;
	vertical-align:top;
}
.regpro_calendarMonthHeader{
	background-color: #29363E;	
	text-align:center;
	vertical-align:middle;
	border-left: 1px solid #65879B;
	border-top: 1px solid #65879B;
}
.regpro_calendar_table {

}
.regpro_calendarWeekDayHeader {
	font-weight: bolder;
	background: #3E525E url(../images/tile.gif) repeat-x center bottom;
	text-align:center;
	vertical-align:middle;
	padding: 5px;
	color: #fff;
	border-left: 1px solid #4F6A79;
} 
.regpro_calendarDay { 
	background-color: #efefef;
	width:60px;
	height:60px;
	text-align:left;
	font-weight:bolder;
	vertical-align:top;
	font-size:12px;
	font-style:normal;
	border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
	padding: 5px;
}
.regpro_calenderday_highlight {
	background-color: #DAD9CE;
	text-align:left;
	vertical-align:top;
	font-weight:bolder;
	width:60px;
	height:60px;
	padding: 5px;
	border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}
.regpro_calendar_years{	
	height:22px;
	text-align:left;
	border: 0px #c9d8fc;
	background-color: #efefef;	
	vertical-align:top;
	margin: 0;
	font-size:14px;
    max-width: 80px;
}
.regpro_calendar_years:hover{
	background:#FFFFFF;
}
.regpro_calendar_months{	
	height:22px;
	text-align:left;
	border: 0px #c9d8fc;
	background-color: #efefef;	
	vertical-align:top;
	margin: 0;
	font-size:14px;
    max-width:150px;
}
.regpro_calendar_months:hover{
	background:#FFFFFF;
}
h1.location_header {
	margin-top: 5px;
}
a.view_map_link {
	padding-left: 10px;
	font-weight: bold;
	font-size: 90%;
}
.miwoevents_notice {
	background-color: #FCF3F3;
	border: 1px solid #FDE2E2;
	text-align: center;
	font-style: italic;
    margin: 10px 0 10px 0;
   	padding: 8px;
	/*width: 60%;*/
}
.miwoevents_notice_table {
	background-color: #FCF3F3;
	border: 1px solid #FDE2E2;
	text-align: center;
	font-style: italic;
    margin: 0 0 10px 0;
    padding: 4px;
}
.miwoevents_row_heading {
	font-weight: bold;
	font-size: 120%;
}
td.title_cell {
	width: 30%;
}
.location_link {
	font-weight: bold;
	color: #446611;
}
table.header td.caption {
	text-align: left !important;
}
.coupon_row {
		
}
.invalid {
	color: red;
}
/*Social bookmark*/
#miwosevents-social-buttons-box {
  width: 100%;
  float: left;
  border-bottom: thin solid #808080
}
#miwosevents-social-buttons-box h4 {
  border-bottom: thin solid #808080;
}
#miwoevents_share_text {
	float: left;
	font-weight: bold;
	padding-top: 15px;
	font-size: 150%;
}
#miwoevents_share_button {
	float: left;
	margin-left: 10px;
}
#fb_share_button {
	display: inline;
}
/*Registrant list style*/
.list_first_name {
	width: 15%;
}
.list_last_name {
	width: 9%;
}
.list_event {
	
}
.list_event_date {
	width: 10%;
}
.list_email {
	width: 10%;
}
.list_registrant_number {
	width: 8%;
}
.list_amount {
	text-align: right;
	width: 6%;
}
.list_id {
	text-align: center;
	width: 15%;
}
/**CSS for cart page**/
.col_no {
	width: 5%;
}
.col_action {
	width : 10%;
	text-align: center;
}
.col_quantity {
	width : 12%;
	text-align: center;
}
.col_price {
	text-align: right;
	width: 10% ;
}
.quantity_box {
	text-align: center;
}
span.total_amount {
	font-weight: bold;
}
.col_subtotal {
	text-align: right;
}
.qty_title, .miwoevents_rate {
	font-weight: bold;
} 
span.error {
	color: red ;
	font-size: 150%;
}
.col_event_date {
	width: 17%;
	text-align: center;
}
span.view_list {
	font-weight: bold;
}
.miwoevents_form_header {
	font-weight: bold;
	font-size: 15px;
}
/**Borrow some admin-css for adding events from front-end*/
/* standard form style table */
div.col { float: left; }
div.width-45 { width: 45%; }
div.width-55 { width: 55%; }
div.width-50 { width: 50%; }
div.width-70 { width: 70%; }
div.width-30 { width: 30%; }
div.width-60 { width: 60%; }
div.width-40 { width: 40%; }
div.width-100 { width: 100%; }

table.admintable td 					 { padding: 3px; }
table.admintable td.key,
table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 140px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.paramlist td.paramlist_description {
	background-color: #f6f6f6;
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace { margin-bottom: 0; }
table.adminform tr.row0 { background-color: #f9f9f9; }
table.adminform tr.row1 { background-color: #eeeeee; }

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
	text-align: left;
}

table.adminform td.helpMenu{
	text-align: right;
}


fieldset.adminform { border: 1px solid #ccc; margin: 0 10px 10px 10px; background: none ; }

/** Table styles **/

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th { padding: 4px; }

table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover { text-decoration: none; }

table.adminlist thead th img { vertical-align: middle; }

table.adminlist tbody th { font-weight: bold; }

table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.adminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

/* Mini Calendar */

.miwoevents_minicalendar_monthyear{
	color:#F0F0F0;
	cursor:pointer;
	font-weight:bold;
	height:21px !important;
	line-height:21px;
	text-align:center !important;
	width:100% !important;
}

a.mod_miwoevents_minicalendar_link:link {
	color:white;
}
a.mod_miwoevents_minicalendar_link:hover {
	color:yellow;
}

.miwoevents_minicalendar_monthyear a.mod_miwoevents_minicalendar_link {
	color:#F0F0F0;
	font-weight:bold !important;
	text-decoration:none;
}

.mod_miwoevents_mincalendar_table{
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	margin-bottom:0.25em;
	text-align:center;
	text-decoration:none;
	width:100% !important;	
}

.mod_miwoevents_mincalendar_dayname{
	font-family:Arial;
	font-size:12px;
	font-style:normal;
	text-align:center;
	text-decoration:none;
}

.mod_miwoevents_mincalendar_td_dayname {
	color:#F0F0F0;
	font-weight:bold;
	height:15px !important;
	line-height:15px;
	text-align:center !important;
}

.mod_miwoevents_mincalendar_td_dayname .sunday {
	color:#99AAAA;
}

.mod_miwoevents_mincalendar_td_dayname .saturday {
	color:#99AAAA;
}

td.mod_miwoevents_mincalendar_today {
	background-color: #FFFFFF;
    color: #000000;
	padding:0 !important;
}
td.mod_miwoevents_mincalendar_not_today,td.mod_miwoevents_mincalendar_no_event a {
	font-size: 11px;
    font-style: normal;
    font-weight: bold;
    padding: 3px 2px;
	color: #fff;
}

td.mod_miwoevents_mincalendar_event{
	background-color:#607F93;
	padding:0 !important;
}

a.miwoevents_minical_link:hover{
	color:yellow;
	text-decoration:none;
}

a.miwoevents_minical_link SPAN.sunday {
	color:#99AAAA;
}

a.miwoevents_minical_link SPAN.saturday {
	color:#99AAAA;
}

td.mod_miwoevents_mincalendar_event a, td.mod_miwoevents_mincalendar_event a.miwoevents_minical_link span.sunday, td.mod_miwoevents_mincalendar_event a.miwoevents_minical_link SPAN.saturday {
	color: #fff;
}

.extcal_minical .extcal_navbar {
    background-repeat: repeat-x;
    border-bottom: 1px solid #B4B4B6;
}

.extcal_minical .extcal_month_label a {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
}

.mod_miwoevents_minicalendar_link {
	color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
}

#extcalendar .topmenu_calendar ul li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
	list-style: none;
	display: block;
}

#extcalendar .topmenu_calendar ul li {
	line-height: normal;
}

table.search_table, table.search_table td, table.search_table td select#category_id, table.search_table td select#location_id, table.search_table td input#search_miwoevents_box{
	width: 100% ;
}

span.number_events {
	font-size: 95% ;
	font-weight: bold ;
}

div.current {
	max-width: 850px !important ;
}
td.miwoevents_image_column {
	width: 12% ;
}
form#adminForm ul.nav-tabs li {
	list-style: none ;
	background: none ;
	padding-left: 0px ;
}
table.admintable td label {
	clear: none ;
	min-width: 40px;
	margin : 3px 2px ;
	display: inline-block; 
}
fieldset.adminform {
	border: none ;	
}
.form-horizontal label.control-label {
	text-align: left;
}

.form-horizontal div.controls label {	
	clear: none ;
	min-width: 40px;
	display: inline-block; 
}

select.miwoevents_span2 {
	width: 220px !important;
}

.captcha_err	{
	padding: 10px 10px 10px 33px !important;
	margin-bottom: 15px !important;
	background: #FFD1D1 url('../images/warning.png') 10px center no-repeat !important;
	border: 1px solid #F8ACAC !important;
	color: #555555 !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-khtml-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
}

 #linkedIN-In  {
	background-image: url(https://www.linkedin.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) !important;
	background-position: 0px -276px !important;
	background-repeat: no-repeat !important;
	background-size: initial !important;
	cursor: pointer !important;
	border: 0 !important;
	text-indent: -9999em !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	left: 0px !important;
	top: 0px !important;
	display: block !important;
	width: 20px !important;
	height: 20px !important;
	float: left !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	-webkit-border-top-right-radius: 2px !important;
	-webkit-border-bottom-right-radius: 2px !important;
}

#linkedIN-Share{
	color: #333 !important;
	cursor: pointer !important;
	display: block !important;
	white-space: nowrap !important;
	float: left !important;
	margin-left: -1px !important;
	vertical-align: top !important;
	overflow: hidden !important;
	text-align: center !important;
	height: 18px !important;
	padding: 0 4px 0 10px !important;
	border: 1px solid #000 !important;
	border-top-color: #E2E2E2 !important;
	border-right-color: #BFBFBF !important;
	border-bottom-color: #B9B9B9 !important;
	border-left-color: #E2E2E2 !important;
	border-left: 0 !important;
	text-shadow: #FFFFFF -1px 1px 0 !important;
	line-height: 20px !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	-webkit-border-top-right-radius: 2px !important;
	-webkit-border-bottom-right-radius: 2px !important;
	background-color: #ECECEC !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#ECECEC)) !important;
	background-image: -webkit-linear-gradient(top, #FEFEFE 0%, #ECECEC 100%) !important;
}
#linkedIN-Share-text * {
	color: #333 !important;
	font-size: 11px !important;
	font-family: Arial, sans-serif !important;
	font-weight: bold !important;
	font-style: normal !important;
	-webkit-font-smoothing: antialiased !important;
	display: inline-block !important;
	background: transparent none !important;
	vertical-align: top !important;
	height: 18px !important;
	line-height: 20px !important;
	float: none !important;
}
#linkedIN-link {
	border: 0 !important;
	height: 20px !important;
	text-decoration: none !important;
	padding: 0 !important;
	margin: 0 !important;
	display: inline-block !important;
}
/* Group registration  */
/**Form CSSS**/
.miwoevents_attenders {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #DBDEE1;
	color: #555555;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 8px;
}
.miwoevents_attenders a {
	float: right;
	font-weight: normal;
	margin-top: 1px;
	text-decoration: none;
	cursor: pointer;
}
.miwoevents_attenders_content {
	display: none;
	overflow: auto;
	padding: 0 0 15px;
}
.miwoevents_attenders_content .left {
	float: left;
	width: 48%;
}
.miwoevents_attenders_content .right {
	float: right;
	width: 48%;
}
.miwoevents_attenders_content .buttons {
	clear: both;
}
