<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<!-- General -->
	<fieldset name="COM_MIWOEVENTS_GENERAL" label="COM_MIWOEVENTS_GENERAL" description="" addfieldpath="/miwoevents/admin/library/elements">
		<field name="pid" readonly="true" type="password" default="" label="COM_MIWOEVENTS_CONFIG_PERSONAL_ID" description="COM_MIWOEVENTS_CONFIG_PERSONAL_ID_HELP" ></field>
		
		





		<field name="cb_integration" type="list" default="" label="COM_MIWOEVENTS_INTEGRATION" description="" >
			<option value="0">COM_MIWOEVENTS_NO_INTEGRATION</option>
			<option value="1">Community Builder</option>
			<option value="2">JomSocial</option>
		</field>
		
		































        <field name="version_checker" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_CONFIG_VERSION_CHECKER" description="COM_MIWOEVENTS_CONFIG_VERSION_CHECKER_HELP" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="early_bird_discount_date" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_EARLY_BIRD_DISCOUNT_DATE" description="COM_MIWOEVENTS_EARLY_BIRD_DISCOUNT_DATE_DESC" >
			<option value="0">MNO</option>
			<option value="1">MYES</option>
		</field>

		














		<field name="activate_recurring_event" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_ACTIVATE_RECURRING_EVENT" description="COM_MIWOEVENTS_ACTIVATE_RECURRING_EVENT_EXPLAIN" >
			<option value="0">MNO</option>
			<option value="1">MYES</option>
		</field>
		
		<field name="hide_past_events" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_HIDE_PAST_EVENTS" description="COM_MIWOEVENTS_HIDE_PAST_EVENTS_EXPLAIN" >
			<option value="0">MNO</option>
			<option value="1">MYES</option>
		</field>
		
		<field name="hide_location_maps" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_HIDE_LOCATION_MAPS" description="COM_MIWOEVENTS_HIDE_LOCATION_MAPS_EXPLAIN" >
			<option value="0">MNO</option>
			<option value="1">MYES</option>
		</field>
		
		<field name="show_db_errors" type="radio" class="btn-group" default="0" label="Show Database Errors" description="" >
			<option value="0">MNO</option>
			<option value="1">MYES</option>
		</field>
		
		<field name="attachment_file_types" type="text" default="bmp|gif|jpg|png|swf|zip|doc|pdf|xls" label="COM_MIWOEVENTS_ATTACHMENT_FILE_TYPES" description="COM_MIWOEVENTS_ATTACHMENT_FILE_TYPES_EXPLAIN" ></field>
		
		<field name="date_format" type="text" default="d-m-Y" label="COM_MIWOEVENTS_DATE_FORMAT" description="COM_MIWOEVENTS_DATE_FORMAT_EXPLAIN" ></field>
		
		<field name="event_date_format" type="text" default="d-m-Y g:i a" label="COM_MIWOEVENTS_EVENT_DATE_FORMAT" description="COM_MIWOEVENTS_EVENT_DATE_FORMAT_EXPLAIN" ></field>
		
		<field name="event_time_format" type="text" default="g:i a" label="COM_MIWOEVENTS_TIME_FORMAT" description="COM_MIWOEVENTS_TIME_FORMAT_EXPLAIN" ></field>

		<field name="currency_symbol" type="text" default="$" label="COM_MIWOEVENTS_CURRENCY_SYMBOL" description="" ></field>

        <field name="decimals" type="text" default="2" label="COM_MIWOEVENTS_DECIMALS" description="COM_MIWOEVENTS_DECIMALS_EXPLAIN" ></field>

        <field name="dec_point" type="text" default="." label="COM_MIWOEVENTS_DECIMAL_POINT" description="COM_MIWOEVENTS_DECIMAL_POINT_EXPLAIN" ></field>

        <field name="thousands_sep" type="text" default="," label="COM_MIWOEVENTS_THOUNSANDS_SEP" description="COM_MIWOEVENTS_THOUNSANDS_SEP_EXPLAIN" ></field>	
			
		
		<field name="currency_symbol" type="text" default="$" label="COM_MIWOEVENTS_CURRENCY_SYMBOL" description="" ></field>
		
		<field name="currency_position" type="list" default="0" label="COM_MIWOEVENTS_CURRENCY_POSITION" description="" >
			<option value="0">COM_MIWOEVENTS_BEFORE_AMOUNT</option>
			<option value="1">COM_MIWOEVENTS_AFTER_AMOUNT</option>
		</field>

        <field name="csv_delimiter" type="text" default="," label="COM_MIWOEVENTS_CSV_DELIMITTER" description="" ></field>
	</fieldset>
	
	<!-- Frontend -->
	<fieldset name="COM_MIWOEVENTS_FRONTEND" label="COM_MIWOEVENTS_FRONTEND" description="">
        
        <field name="calendar_start_date" type="list" default="1" label="COM_MIWOEVENTS_CALENDAR_START_DATE" description="" >
			<option value="0">COM_MIWOEVENTS_SUNDAY</option>
			<option value="1">COM_MIWOEVENTS_MONDAY</option>
		</field>
		
		<field name="calendar_theme" type="list" default="1" label="COM_MIWOEVENTS_CALENDAR_THEME" description="" >
			<option value="default">COM_MIWOEVENTS_DEFAULT</option>
	        <option value="fire">COM_MIWOEVENTS_FIRE</option>
	        <option value="leaf">COM_MIWOEVENTS_LEAF</option>
	        <option value="sky">COM_MIWOEVENTS_SKY</option>
	        <option value="tree">COM_MIWOEVENTS_TREE</option>
		</field>
		
		<field name="order_events" type="list" default="2" label="COM_MIWOEVENTS_EVENT_ORDER_BY" description="" >
			<option value="1">COM_MIWOEVENTS_ORDERING</option>
	        <option value="2">COM_MIWOEVENTS_EVENT_DATE</option>
		</field>
		
		<field name="comments" type="list" default="0" label="COM_MIWOEVENTS_CONFIG_COMMENTS" description="">
            <option value="0">COM_MIWOEVENTS_CONFIG_COMMENTS_DISABLED</option>
            <option value="1">JComments</option>
            <option value="2">Komento</option>
            <!-- <option value="3">CComment</option> -->
            <option value="4">DISQUS</option>
        </field>
        
        <field name="disqus_domain" type="text" default="" label="COM_MIWOEVENTS_CONFIG_COMMENTS_DISQUS_DOMAIN" description="COM_MIWOEVENTS_CONFIG_COMMENTS_DISQUS_DOMAIN_HELP"></field>
        
        <field name="button_class" type="text" default="miwoevents_button" label="COM_MIWOEVENTS_BUTTON_CLASS" description="COM_MIWOEVENTS_BUTTON_CLASS_EXPLAIN" ></field>

		<field name="number_categories" type="text" default="7" label="COM_MIWOEVENTS_CATEGORIES_PER_PAGE" description="" ></field>
		
		<field name="number_events" type="text" default="5" label="COM_MIWOEVENTS_EVENTS_PER_PAGE" description="" ></field>
		
		



		








		  <field name="group_registration_appearance" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_GROUP_REGISTRATION_APPEARANCE" description="" >
            <option value="0">General</option>
            <option value="1">Limited</option>
        </field>
		
		<field name="show_multiple_days_event_in_calendar" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_MULTIPLE_DAYS_EVENT_IN_CALENDAR" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_event_time" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_EVENT_TIME" description="COM_MIWOEVENTS_SHOW_EVENT_TIME_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_empty_cat" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_SHOW_EMPTY_CATEGORIES" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_number_events" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_NUMBER_EVENTS" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_capacity" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_EVENT_CAPACITY" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_cut_off_date" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_CUT_OFF_DATE" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_individual_price" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_INDIVIDUAL_PRICE" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		




		<field name="show_available_place" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_AVAILABLE_PLACES" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		




		<field name="show_location_in_category_view" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_LOCATION_IN_CATEGORY_VIEW" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>

		<field name="show_fields_in_category" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_SHOW_CUSTOM_FIELDS_IN_CATEGORY" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_event_location_in_email" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_LOCATION_IN_EMAIL" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="load_plugins" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_LOAD_PLUGINS" description="COM_MIWOEVENTS_LOAD_PLUGINS_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_cat_decription_in_calendar_layout" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_CATEGORY_DESCRIPTION_IN_CALENDAR_LAYOUT" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_image_in_table_layout" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_EVENT_IMAGE_IN_TABLE_LAYOUT" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_price_in_table_layout" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_PRICE_IN_TABLE_LAYOUT" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_price_in_mod_events" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_PRICE_IN_MOD_EVENTS" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="display_message_for_full_event" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_DISPLAY_MESSAGE_FOR_FULL_EVENT" description="COM_MIWOEVENTS_DISPLAY_MESSAGE_FOR_FULL_EVENT_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_discounted_price" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_DISCOUNTED_PRICE" description="COM_MIWOEVENTS_SHOW_DISCOUNTED_PRICE_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_event_date" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_EVENT_DATE" description="COM_MIWOEVENTS_SHOW_EVENT_DATE_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_social_bookmark" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_SHOW_SOCIAL_BOOKMARK" description="COM_MIWOEVENTS_SHOW_SOCIAL_BOOKMARK_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		




		<field name="activate_weekly_calendar_view" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_ACTIVATE_WEEKLY_CALENDAR_VIEW" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="activate_daily_calendar_view" type="radio" class="btn-group" default="1" label="COM_MIWOEVENTS_ACTIVATE_DAILY_CALENDAR_VIEW" description="" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
		
		<field name="show_map_info" type="radio" class="btn-group" default="0" label="COM_MIWOEVENTS_SHOW_MAP_INFO" description="COM_MIWOEVENTS_SHOW_MAP_INFO_EXPLAIN" >
			<option value="0">MNO</option>
	        <option value="1">MYES</option>
		</field>
	</fieldset>

    <!-- E-Mails -->
    
			<fieldset name="COM_MIWOEVENTS_EMAILS" label="COM_MIWOEVENTS_EMAILS" description="This feature is only available in Booking version">
			</fieldset>
			







































































































	
	<!-- Individual Fields -->
	<fieldset name="COM_MIWOEVENTS_INDIVIDUAL_FIELDS" label="COM_MIWOEVENTS_INDIVIDUAL_FIELDS" description="This feature is only available in Booking version">


	</fieldset>
	
	<!-- Group Fields -->
	<fieldset name="COM_MIWOEVENTS_GROUP_FIELDS" label="COM_MIWOEVENTS_GROUP_FIELDS" description="This feature is only available in Booking version">


	</fieldset>
	
	<!-- Search / List Fields -->
	<fieldset name="COM_MIWOEVENTS_SEARCH_LIST_FIELDS" label="COM_MIWOEVENTS_SEARCH_LIST_FIELDS" description="This feature is only available in Booking version">


	</fieldset>
	
	<!-- Permission Fix The Bottom -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" component="com_miwoevents"	filter="rules" validate="rules"	label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>
